@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
	--gradient-background: linear-gradient(
		45deg,
		#1a042c,
		#231b3f,
		#2e197c,
		#2e197c,
		#2f0642
	);
	--shadow-brandname: 0.03em 0.03em #ffee00, -0.03em -0.03em #ff0080,
		-0.03em 0.03em #dd7cf5, 0.03em -0.03em #00ffc8;
	--color-item-text: #120b2c;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: var(--gradient-background);
	font-family: sans-serif;
}

.grid {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 980px) 1fr;
}

/* HEADER */
/* ====== */

.header {
	grid-column: 2/3;
	grid-row: 1;
	/* Header flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.brandname {
	color: #323297;
	text-shadow: var(--shadow-brandname);
	font-family: "Staatliches", cursive;
	font-size: clamp(5rem, 20vw, 10rem);
	text-align: center;
}

.tagline {
	color: #ffee00;
	text-shadow: 0.06em 0.06em #ff0080;
	font-family: "Staatliches", cursive;
	font-size: clamp(2rem, 8vw, 3.5rem);
	letter-spacing: 0.1em;
}

/* ASIDE */
/* ===== */

.aside {
	grid-column: 2/3;
	grid-row: 2;
	margin: 20px;
	padding: 10px;
	border: 1px solid #00ffc8;
	color: #00ffc8;
	font-family: "Staatliches", cursive;
	text-align: center;
}

.aside > h2 {
	font-size: 1.6rem;
}

.aside > p {
	font-size: 1.2rem;
}

/* MAIN */
/* ==== */

.main {
	grid-column: 2/3;
	grid-row: 3;
	/* Main Flexbox */
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.main > .item {
	width: 300px;
	margin: 10px;
	padding: 10px;
	background-color: #ffee00;
	box-shadow: 4px 4px #ff0080, 4px -4px #00ffc8;
	flex-shrink: 0;
	color: var(--color-item-text);
	height: auto;
}

/* MAIN > ITEM */
/* =========== */

.item > h3 {
	/* color: #ff0080; */
	color: var(--color-item-text);
	font-size: 2rem;
}

.description {
	margin: 1.5em 0;
	font-size: 0.85rem;
}

.item > .form-case {
	margin-top: 2em;
	border-top: 1px solid var(--color-item-text);
	padding: 1em;
}


.special {
	font-family: "Staatliches", cursive;
	font-size: 1.25rem;
}

/* MAIN > ITEM > FORM-CASE*/
/* ====================== */

.item > .form-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	font-family: "Staatliches", cursive;
}

.form-grid label {
	font-size: 1.2rem;
	margin-right: 0.8em;
	color: var(--color-item-text);
	text-shadow: 0.05em 0.05em #00ffc8;
}

.form-grid select {
	background-color: transparent;
	border: 1px solid var(--color-item-text);
	width: 100%;
	height: 25px;
	font-size: 1.2rem;
}

.item .form-grid > * {
	margin-bottom: 0.5em;
}

.form-grid label[for="size-select"] {
	grid-row: 1;
}

.form-grid label[for="color-select"] {
	grid-row: 2;
}

.form-grid label[for="quantity-select"] {
	grid-row: 3;
}

.form-grid button {
	grid-column: 1/3;
	grid-row: 4;
	/* style */
	font-family: "Staatliches", cursive;
	font-size: 1.4rem;
	padding: 0.5em;
	background-color: var(--color-item-text);
	box-shadow: 0.2em 0.2em #00ffc8;
	border: 1px solid var(--color-item-text);
	color: #ffee00;
	cursor: pointer;
}

.form-grid button:hover {
	color: #ff0080;
}


/*Pictures*/

.thumbnail {
	box-shadow: 0.2em 0.2em #00ffc8, -0.2em -0.2em #ff0080;
	position: relative;
}

.thumbnail.asics {
	width: 280px;
	height: 180px;
	background-image: url(./NTUfood.png);
	background-repeat: no-repeat;
	background-size: 280px 180px;
	background-position: 0 0;
}

.thumbnail.adidas {
	width: 280px;
	height: 180px;
	background-image: url("https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8");
	background-repeat: no-repeat;
	background-size: 280px 180px;
}

.thumbnail.newbalance {
	width: 280px;
	height: 180px;
	background-image: url("https://images.unsplash.com/photo-1539185441755-769473a23570");
	background-repeat: no-repeat;
	background-size: 280px 180px;
}

figcaption {
	position: absolute;
	bottom: -14px;
	right: 0;
	font-size: 0.7rem;
	color: var(--color-item-text);
	background-color: #00ffc8;
}

/* SVG */
/* === */

svg {
	transform: scale(5) rotate(-45deg);
	position: absolute;
	z-index: -1;
	fill: #30154e;
}
